
.wrapper {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-row-gap: 10px;
}

.item1, .item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

/deep/ .active {
  background-color: lightgray;
  color: blue !important;
}


