a {
  color: white;
}

.wrapper {
  height: 100%;
  background: lightblue;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 50px 1fr 50px;
}

.item1, .item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
